@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;
	 /* 主色（Base） */
  --ui-primary:       #212121;
	--color-white: 		  #ffffff;

  /* Primary 色階 */
  --ui-primary-100:   #e4e5e6;
  --ui-primary-200:   #cacbcd;
  --ui-primary-300:   #afb1b5;
  --ui-primary-400:   #95979c;
  --ui-primary-500:   #7b7d83;
  --ui-primary-600:   #626469;
  --ui-primary-700:   #494b4f;
  --ui-primary-800:   #292828;
  --ui-primary-900:   #242222;

	--ui-color-neutral-100:  #f1f2f2;
  --ui-color-neutral-200:  #d7dada;
  --ui-color-neutral-300:  #bdc1c1;
  --ui-color-neutral-400:  #a2a8a8;
  --ui-color-neutral-500:  #889090;
  --ui-color-neutral-600:  #626469;
  --ui-color-neutral-700:  #494b4f;
  --ui-color-neutral-800:  #292828;
  --ui-color-neutral-900:  #242222;
}


.dark  {
  --ui-primary: var(--ui-primary-100);
  --ui-text-dimmed: var(--ui-primary-500);
  --ui-text-muted: var(--ui-primary-400);
  --ui-text-toned: var(--ui-primary-300);
  --ui-text: var(--ui-primary-200);
  --ui-text-primary: var(--ui-primary-200);
  --ui-text-highlighted: var(--color-white);
  --ui-text-inverted: var(--ui-primary-900);

  --ui-bg: var(--ui-primary-800);
  --ui-bg-muted: var(--ui-primary-600);
  --ui-bg-elevated: var(--ui-primary-700);
  --ui-bg-accented: var(--ui-primary-500);
  --ui-bg-inverted: var(--color-white);

  --ui-border: var(--ui-primary-800);
  --ui-border-muted: var(--ui-primary-700);
  --ui-border-accented:  var(--color-white);
  --ui-border-inverted: var(--color-white);

  .text-black {
    color: var(--ui-primary);
  }

}

.tiptap :first-child {
  @apply mt-0;
}

.tiptap.ProseMirror {
  @apply min-h-[10rem] p-2 rounded-[0.2rem] min-h-[10rem] border-2
}

.tiptap.ProseMirror.ProseMirror-focused {
  @apply outline-none
}

.tiptap h1 {
  @apply text-3xl font-bold mt-4 mb-4 first:mt-0 last:mb-0;
}

.tiptap h2 {
  @apply text-2xl font-bold mt-3 mb-3 first:mt-0 last:mb-0;
}

.tiptap h3 {
  @apply text-xl font-bold mt-2 mb-2 first:mt-0 last:mb-0;
}

/* Code and preformatted text styles */
.tiptap code {
  @apply bg-neutral-200 rounded-[0.2rem] text-black text-[0.85rem] px-[0.3em] py-[0.25em];
}

.tiptap pre {
  @apply bg-neutral-200 rounded-[0.2rem] text-black font-mono p-[0.75rem] pl-[1rem] w-full overflow-x-auto;
}

.tiptap pre code {
  @apply bg-transparent text-inherit text-[0.85rem];
}

.tiptap blockquote {
  @apply border-l-4 border-gray-300 ml-4 my-6 pl-4;
}

.tiptap hr {
  @apply border-t border-gray-300 my-3;
}

/* Lists */
.tiptap ul {
  @apply list-disc list-outside ml-6;
}

.tiptap ol {
  @apply list-decimal list-outside  ml-6;
}

.tiptap li {
  @apply mb-2;
}

